$text-color: #3F3E3D;
$borders-color: rgba(0,0,0, .2);
$sidenav-width: 100px;
$link-selection-color: lightgrey;
$background-color: rgb(240, 240, 240);

html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 20px 0;
    font-size: 13px;
}

.container {
    display: flex;
    align-items: flex-start;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
}

.main {
    z-index: 1;
    width: 600px;
    min-height: 600px;
    border: 1px solid $borders-color;
    padding: 0 10px 40px 10px;
    font-family: "Verdana";
  }


  .main h1 {
    font-family: 'Times New Roman', Times, serif;
    // font-family: "Courier New";
    // border:1px solid $borders-color;
    font-size: 42px;
    font-weight: 400;

  }

  a:hover {
    background-color: $link-selection-color;
  }

  

  .sidenav {
    width: $sidenav-width;
    border: 1px solid $borders-color;
    border-style: solid none solid solid;
    margin-right: 0;
  }

  .center-image {
    margin: 0 auto;
    display: block;
    max-width:100%;
    height: 300px;
    object-fit: scale-down;
  }

  .footer-links {
    width: 600px;
    margin-top: 10px;
    border: 1px solid $borders-color;
    padding: 10px;
    font-family: "Verdana";
  }

  .date-gray {
    color: #999;
  }

  .main li {
    margin-bottom: 8px;
  }
