/* The sidebar menu */
.sidenav {
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  
  /* The navigation menu links */
  .sidenav a {
    font-family: "Tahoma";
    padding: 6px 0px 6px 5px;
    // text-decoration: none;
    font-size: 1em;
    display: block;
    color: blue;
    text-transform: capitalize;


  }

  

  // .sidenav .current_nav_link {
  //   // color: purple;
  //   font-weight: bold;    
  // }


  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  