---
layout: single
---

<div class="user_page_wrap">
    <div id="user_page_17774" class="user_page page_widget mode_grid">
        <div class="header">
            <div class="inner_column">
                <div class="columns">
                    <div class="column game_column">
                        <div class="game_grid_widget user_game_grid">
                            {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    